<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Recipe</h1>

<form method="post" style="max-width:600px;">
  <div class="form-group">
    <label th:for="name">Recipe Name</label>
    <input class="form-control" th:field="${recipe.name}" />
    <span th:errors="${recipe.name}" class="error"></span>

  </div>
  <div class="form-group">
    <label th:for="name">Ingredients</label>
    <textarea class="form-control" th:field="${recipe.ingredients}" />
    <span th:errors="${recipe.ingredients}" class="error"></span>

  </div>

  <div class="form-group">
    <label th:for="name">Instructions</label>
    <textarea class="form-control" th:field="${recipe.instructions}" />
    <span th:errors="${recipe.instructions}" class="error"></span>

  </div>
  <div class="form-group">
    <label th:for="cuisine">Cuisine</label>
    <select name="cuisineId">
      <option th:each="cuisine : ${cuisines}"
              th:text="${cuisine.name}"
              th:value="${cuisine.id}"></option>

    </select>
    <a th:href="@{'/cuisine/add'}">Add Cuisine</a>

  </div>

  <div class="form-group">
    <label th:for="dietaryRestrictions">Dietary Restrictions: </label>
    <th:block th:each="dietaryRestriction : ${dietaryRestrictions}">
      <input type="checkbox" name="dietaryRestrictions" th:value="${dietaryRestriction.id}">
      <label th:text="${dietaryRestriction.name}"></label>
    </th:block>
    <a th:href="@{'/dietaryrestrictions/add'}">Add Dietary Restriction</a>
  </div>

  <div class="form-group">
    <label th:for="mealTypes">Meal Types: </label>
    <th:block th:each="mealType : ${mealTypes}">
      <input type="checkbox" name="mealTypes" th:value="${mealType.id}">
      <label th:text="${mealType.name}"></label>
    </th:block>
    <a th:href="@{'/mealtypes/add'}">Add Meal Type</a>
  </div>

  <input type="submit" value="Create Recipes" />


</form>
</body>
</html>