<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Delete Recipe</h1>

<nav th:replace="fragments :: page-header"></nav>
<form method="post">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Recipe</th>
      <th>Action</th>
    </tr>
    </thead>
    <tr th:each="recipe:${recipes}">
      <div class="form-group">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.name}"></td>
        <td>
          <input type="checkbox" name="recipeIds" th:value="${recipe.id}" class="form-control">
        </td>
      </div>
    </tr>
  </table>
  <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>