<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Meal Type</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Meal Type Name</label>
        <input class="form-control" th:field="${mealType.name}" />
        <span th:errors="${mealType.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Meal Type Description</label>
        <input class="form-control" th:field="${mealType.description}" />
        <span th:errors="${mealType.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Meal Type" />
</form>

</body>
</html>