<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${mealTypes} and ${mealTypes.size()}">no matching recipes!</p>

<div class="container body-content">
    <h2>Meal Types</h2>
    <ul>
        <li th:each="mealType : ${mealTypes}">
            <a th:href="@{'/mealtypes/view/' + ${mealType.id}}" th:text="${mealType.name}"></a>
        </li>
    </ul>
    <ul class="nav navbar-nav" sec:authorize="hasAnyAuthority('ADMIN')">
        <li class="nav-item"><a class="nav-link" th:href="@{'/mealtypes/add'}">Add Meal Type</a></li>
        <li><a th:href="@{'/mealtypes/delete'}">Delete Meal Type</a></li>
    </ul>

</div>

</body>
</html>