<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Cuisine</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Cuisine Name</label>
        <input class="form-control" th:field="${cuisine.name}" />
        <span th:errors="${cuisine.name}" class="error"></span>
    </div>


    <input type="submit" value="Add Cuisine" />
</form>

</body>
</html>