<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<div sec:authorize="isAuthenticated()">
    Welcome <span sec:authentication="name">Email</span>
</div>

<h1 th:text="${'User: ' + user.userName}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="recipe-listing">
    <p th:text="${'Name: ' + user.userName}"></p>

</div>


</body>
</html>