<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <title>Code: Food</title>
    <h1 class="test">Code: Food</h1>

    <style>
    h1 {
        font-family: cursive;
        font-size: 300%;
        text-align: center;
    }

    p {
        font-size: 120%;
    }
    </style>

    <div>
        <button>Login</button>
        <button>Sign Up</button>
    </div>
    <div>
        <p>Username</p>
    </div>
    <p class="test">Site Intro</p>
</head>
<body>
    <button>View All Recipes</button>
    <div></div>

    <div>
        <h2></h2>
        <a></a>
    </div>

</body>
</html>