<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Recipes By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Cuisine</th>
        <th>Dietary Restrictions</th>
<!--        <th>Meal Type</th>-->
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/recipes(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="cuisine : ${cuisines}">
                <a th:href="@{/list/recipes(column=cuisine,value=${cuisine.name})}" th:text="${cuisine.name}"></a>
            </li>
        </td>

        <td>
            <li th:each="dietaryRestrictions : ${dietaryRestrictions}">
                <a th:href="@{/list/recipes(column=dietaryRestriction,value=${dietaryRestrictions.name})}" th:text="${dietaryRestriction.name}"></a>
            </li>
        </td>
<!--        <td>-->
<!--            <li th:each="mealType : ${mealTypes}">-->
<!--                <a th:href="@{/list/recipes(column=mealType,value=${mealType.name})}" th:text="${mealType.name}"></a>-->
<!--            </li>-->
        </td>
    </tr>
</table>

</body>
</html>