<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <link th:href="@{/css/recipecard.css}" rel="stylesheet" />

</head>

<body>

<!--<div th:replace="fragments :: page-header"></div>-->

<div class="recipes container">
    <!--    Page Title-->
    <h2 class="title" th:text="${#strings.capitalizeWords(title)}"></h2>

    <!--    Recipe Cards-->
    <div class="row">
        <div class="col-md-3 recipe-col" th:each="recipe : ${recipes}">
            <div class="card recipe-card">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/pasta.jpg" class="card-img-top" alt="Recipe Image">
<!--                <img src="..." class="card-img-top" alt="Recipe Image">  &lt;!&ndash; Use this line to avoid loading placeholder pics every time" &ndash;&gt;-->
                <div class="card-body">
                    <div class="clearfix mb-3">
                        <span class="float-start badge rounded-pill bg-success"><a class="no-underline" th:href="@{'/cuisine/view/' + ${recipe.cuisine?.id}}" th:text="${recipe.cuisine?.name}"></a></span>
                    </div>
                    <h3 class="card-title" th:text="${recipe.name}"></h3>
                    <div class="row">
                        <div class="col title"><h5>Dietary Restrictions</h5></div>
                        <div class="col content">
                            <ul th:each="dietaryRestriction : ${recipe.dietaryRestrictions}">
                                <li><a class="no-underline" th:href="@{'/dietaryrestrictions/view/' + ${dietaryRestriction?.id}}" th:text="${dietaryRestriction?.name}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col title"><h5>Meal Types</h5></div>
                        <div class="col content">
                            <ul th:each="mealType : ${recipe.mealTypes}">
                                <li><a class="no-underline" th:href="@{'/mealtypes/view/' + ${mealType?.id}}" th:text="${mealType?.name}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <a href="#" class="btn btn-warning">View Recipe</a>     <!-- currently non-functional-->

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



</body>
</html>