<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <h1>Code: Food</h1>
    <div>
        <button>Sign Up</button>
    </div>
</head>
<body>
    <input type="checkbox">User</input>
    <input type="checkbox">Admin</input>
    <div>
        <p>Username:</p>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <p>Password:</p>
        <input type="text" id="password" name="password">
    </div>
</body>
</html>