<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New User Page</title>
    <h1>Code: Food</h1>
</head>
<body>
    <div>
        <p>Username:</p>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <p>Password:</p>
        <input type="text" id="password" name="password">
    </div>
    <div>
        <p>Confirm Password:</p>
        <input type="text" id="confirmpword" name="comfirmpword">
    </div>
</body>
</html>