<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${dietaryRestrictions} and ${dietaryRestrictions.size()}">no matching recipes!</p>

<div class="container body-content">
    <h2>Dietary Restrictions</h2>
    <ul>
        <li th:each="dietaryRestriction : ${dietaryRestrictions}">
            <a th:href="@{'/dietaryrestrictions/view/' + ${dietaryRestriction.id}}" th:text="${dietaryRestriction.name}"></a>
        </li>
    </ul>
    <ul class="nav navbar-nav" sec:authorize="hasAnyAuthority('ADMIN')">
        <li class="nav-item"><a class="nav-link" th:href="@{'/dietaryrestrictions/add'}">Add Dietary Restrictions</a></li>
        <li><a th:href="@{'/dietaryrestrictions/delete'}">Delete Dietary Restrictions</a></li>
    </ul>

</div>

</body>
</html>